@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #555;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 28px;
  color: #333;
}

h3 span {
  display: block;
  font-size: 20px;
  font-weight: normal;
  color: #F08F8F;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

header .container {
  max-width: none;
  padding: 15px;
}

.site-title {
  overflow: hidden;
}

.site-title a {
  float: left;
  display: block;
  width: 173px;
  height: 62px;
  padding: 40px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  color: #555555;
  background: url(../images/logo.png) no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .site-title a {
    background: url(../images/logo@2x.png) no-repeat;
    background-size: 170px 40px;
  }
}

.hamburger {
  display: none !important;
}

@media (max-width: 991px) {
  .hamburger {
    display: inline-block !important;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 0 15px 15px;
    z-index: 1001;
  }
}

.fullscreen-nav {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 999;
}

.fullscreen-nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
}

.fullscreen-nav ul li a {
  position: relative;
  display: block;
  height: 50px;
  font-size: 1.125rem;
  line-height: 50px;
  color: #333;
}

.fullscreen-nav ul li a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #FF5E5E;
}

.fullscreen-nav ul li:last-child a {
  position: relative;
  display: block;
  width: 120px;
  height: 50px;
  line-height: 55px;
  text-align: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#FF9393), to(#FFA7A7));
  background: linear-gradient(to right, #FF9393, #FFA7A7);
  color: #fff;
}

.fullscreen-nav ul li:last-child a span {
  position: absolute;
  top: 10px;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 -25px;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  border-radius: 10px;
  background: #000;
}

.fullscreen-nav ul li:last-child a i {
  margin: 0 10px 0 0;
}

.fullscreen-nav ul li:last-child a:hover::after {
  display: none;
}

@media (max-width: 991px) {
  .fullscreen-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    padding-top: 100px;
    background-color: #FFF1F1;
    z-index: 5;
    overflow-x: hidden;
    opacity: 0;
    -webkit-transition: 10s;
    transition: 10s;
    z-index: 1000;
  }
  .fullscreen-nav.is-active {
    display: block;
    width: 100%;
    opacity: 1;
  }
  .fullscreen-nav ul {
    width: 50%;
    margin: 0 auto;
  }
  .fullscreen-nav ul li {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    text-align: center;
    border-bottom: 1px solid rgba(247, 147, 147, 0.25);
  }
  .fullscreen-nav ul li:nth-child(5) {
    border-bottom: 0;
  }
  .fullscreen-nav ul li:last-child {
    border-bottom: 0;
  }
  .fullscreen-nav ul li:last-child a {
    width: 100%;
  }
  .fullscreen-nav ul li a:hover:after {
    display: none;
  }
  .fullscreen-nav span {
    display: block;
    padding: 8px 0;
    font-size: 1.6rem;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .fullscreen-nav span i {
    display: inline-block;
    width: 20px;
    margin: 0 10px 0 0;
    font-size: 1.4rem;
  }
  .fullscreen-nav p {
    line-height: 2;
  }
  .fullscreen-nav p a {
    display: block;
    font-size: 1.3rem;
    color: #fff;
  }
}

.kv {
  height: 500px;
  padding: 90px 0 0 0;
}

.kv .carousel-indicators {
  margin: 0 0 20px 0;
}

.kv .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 0;
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.kv .carousel-indicators li.active {
  background: #FFA7A7;
}

.kv .carousel-item {
  height: 410px;
}

.kv .carousel-item:first-child .txtbox, .kv .carousel-item:last-child .txtbox {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.kv .carousel-item:first-child .txtbox p, .kv .carousel-item:last-child .txtbox p {
  width: auto;
  text-align: left;
}

.kv .carousel-item:first-child .imgbox, .kv .carousel-item:last-child .imgbox {
  text-align: left;
}

.kv .txtbox {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 10%;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.kv .txtbox strong {
  font-size: 2rem;
  color: #333;
}

.kv .imgbox {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.kv .imgbox .img-fluid {
  height: 410px;
}

@media (max-width: 991px) {
  .kv {
    margin: 0;
    height: auto;
  }
  .kv .carousel-indicators {
    height: auto;
    margin: 0 0 10px 0;
  }
  .kv .carousel-item {
    height: auto;
  }
  .kv .txtbox {
    top: auto;
    bottom: 32px;
    height: auto;
    padding: 0 5%;
  }
  .kv .txtbox p {
    width: 50%;
    margin: 0;
    padding: 10px 0;
    font-size: .8rem;
  }
  .kv .txtbox strong {
    font-size: 1rem;
  }
  .kv .imgbox {
    height: auto;
  }
  .kv .imgbox .img-fluid {
    height: auto;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .container {
    margin: 0;
    padding: 0 15px;
  }
}

.index-about {
  padding: 90px 0 0 0;
}

.index-about .row:first-child .txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px 65px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-about .row:nth-child(2) .txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 40px 90px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-about .row:nth-child(2) .txtbox li {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
}

.index-about .row:nth-child(2) .txtbox li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background: #ff7d6e;
}

.index-about .row:nth-child(2) .txtbox li:last-child {
  margin: 0;
}

.index-about .row:nth-child(2) .imgbox {
  position: relative;
}

.index-about .row:nth-child(2) .imgbox div {
  position: absolute;
  top: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 540px;
  height: 395px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.index-about .row:nth-child(2) .imgbox div img {
  max-width: 100%;
}

.index-about .row:nth-child(3) .txtbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 200px 100px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-about .row:nth-child(3) .txtbox li {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
}

.index-about .row:nth-child(3) .txtbox li:last-child {
  margin: 0;
}

.index-about .row:nth-child(3) .txtbox li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background: #ff7d6e;
}

.index-about .row:nth-child(3) .have-bg {
  position: relative;
}

.index-about .row:nth-child(3) .have-bg::after {
  content: '';
  position: absolute;
  top: -65px;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% + 65px);
  background: #FFF6EF;
  z-index: -1;
}

.index-about h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.25rem;
  color: #333;
}

.index-about h3::after {
  content: '';
  display: block;
  width: 120px;
  height: 4px;
  margin: 10px 0 30px 0;
  border-radius: 2px;
  background: #FFC1C1;
}

.index-about .imgbox {
  padding: 0;
}

.index-about .imgbox img {
  max-width: 100%;
  border: 0;
}

.index-about .have-bg {
  position: relative;
}

.index-about .have-bg::after {
  content: '';
  position: absolute;
  top: -65px;
  left: 0;
  width: calc(200% - 100px);
  height: calc(100% + 65px);
  background: #FFF6EF;
  z-index: -1;
}

@media (max-width: 1180px) {
  .index-about .row:nth-child(2) .imgbox div {
    right: 0;
  }
}

@media (max-width: 991px) {
  .index-about {
    padding: 50px 0 0 0;
  }
  .index-about .have-bg::after {
    content: '';
    top: 0;
    width: calc(100% - 100px);
    height: calc(100% + 100px);
  }
  .index-about .row:first-child .txtbox {
    padding: 50px 3%;
  }
  .index-about .row:first-child .imgbox {
    text-align: center;
  }
  .index-about .row:nth-child(2) .txtbox {
    padding: 50px 3%;
  }
  .index-about .row:nth-child(2) .imgbox {
    position: relative;
  }
  .index-about .row:nth-child(2) .imgbox div {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto 50px auto;
  }
}

@media (max-width: 539px) {
  .index-about .row:first-child .imgbox {
    padding: 3%;
  }
  .index-about .row:first-child .txtbox {
    padding: 2rem;
  }
  .index-about .row:nth-child(2) {
    background: #FFF6EF;
  }
  .index-about .row:nth-child(2) .imgbox {
    padding: 0 3%;
  }
  .index-about .row:nth-child(2) .imgbox div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .index-about .row:nth-child(2) .txtbox {
    padding: 2rem;
  }
  .index-about .row:nth-child(3) {
    padding: 0 0 50px 0;
    background: #FFF6EF;
  }
  .index-about .row:nth-child(3) .txtbox {
    padding: 2rem;
  }
  .index-about .have-bg {
    position: relative;
  }
  .index-about .have-bg::after {
    content: '';
    display: none;
  }
}

.index-feature {
  width: 100%;
  margin: 0 0 150px 0;
  padding: 0 3%;
  background: #FFACA2;
}

.index-feature li {
  padding: 40px 50px;
  line-height: 1.75rem;
  color: #fff;
}

.index-feature li:nth-child(2) {
  background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 991px) {
  .index-feature {
    margin: 0 0 100px 0;
    padding: 0;
  }
  .index-feature .row {
    margin: 0;
  }
}

.index-product {
  margin: 150px 0 0 0;
  padding: 0 3%;
}

.index-product h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.index-product ul {
  margin: 0;
}

.index-product ul li {
  position: relative;
  text-align: center;
}

.index-product ul li .notice {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 300px;
  margin: 0 0 0 -125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.index-product ul li img {
  max-width: 100%;
  margin: 0 0 25px 0;
}

.index-product ul li .price {
  font-weight: bold;
  color: #ff6464;
}

.index-product ul li .sold {
  margin: 0 0 0 10px;
  padding: 2px 5px;
  font-weight: bold;
  color: #e24949;
  border: 3px solid #e24949;
  border-radius: 3px;
}

.index-product ul li a {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto 0 auto;
  line-height: 40px;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#2B2F30), to(#717474));
  background: linear-gradient(to right, #2B2F30, #717474);
}
/**
 * add by Angus 2021.01.01
 * 產品檢驗報告
 */
.imgbox.col-12.col-lg-3 a {
  width: auto;
  height: auto;
  margin: auto;
}

.index-product ul li a:hover {
  color: #ffff66;
}

.index-product ul li i {
  font-size: 0.8rem;
}

@media (max-width: 991px) {
  .index-product {
    margin: 100px 0 0 0;
  }
  .index-product ul li {
    margin: 0 0 50px 0;
  }
}

.index-feedback {
  position: relative;
  padding: 150px 0 0 0;
}

.index-feedback h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.index-feedback ul {
  position: relative;
  margin: 0 0 45px 0;
  padding: 0 3%;
}

.index-feedback ul::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -120px;
  width: 100%;
  height: calc(100% + 45px);
  background: #FFF1F1;
  z-index: -1;
}

.index-feedback ul li {
  padding: 0 30px;
}

.index-feedback .imgbox {
  width: 160px;
  height: 160px;
  margin: 0 0 18px 0;
  border-radius: 80px;
  background: #ccc;
  overflow: hidden;
}

.index-feedback .name {
  position: absolute;
  left: 95px;
  top: 130px;
  display: block;
  width: 180px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background: #FFB2B2;
}

.index-feedback p, .index-feedback a {
  display: -webkit-box;
  height: ‭5 0.625rem;
  line-height: 1.875rem;
  text-overflow: ellipsis;
  color: #555;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.index-feedback p:hover, .index-feedback a:hover {
  color: #333;
}

@media (max-width: 991px) {
  .index-feedback {
    padding: 100px 0 0 0;
  }
}

.index-recommend {
  padding: 0 5% 50px 5%;
}

.index-recommend h3 span {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #aaa;
}

.index-recommend .no-content {
  color: #999;
}

.index-recommend ul {
  margin: 0;
}

.index-recommend ul li .imgbox {
  float: left;
  display: block;
  width: 190px;
  height: 233px;
  margin: 0 35px 0 0;
  background: #eee;
}

.index-recommend ul li .imgbox img {
  max-width: 100%;
}

.index-recommend ul li .txtbox {
  float: left;
  display: block;
  width: calc(100% - 225px);
}

.index-recommend ul li .txtbox::before {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  margin: 30px 0 0 0;
  background: #FFB2B2;
}

.index-recommend ul li .txtbox p {
  line-height: 1.875rem;
  color: #707070;
}

.index-recommend ul li .txtbox span {
  display: block;
  margin: 10px 0 0 0;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #777;
}

.index-recommend ul li .txtbox .name {
  font-size: 24px;
  line-height: 2.25rem;
  color: #333;
}

@media (max-width: 991px) {
  .index-recommend {
    margin: 0 0 100px 0;
  }
  .index-recommend ul li {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 479px) {
  .index-recommend {
    margin: 0;
  }
  .index-recommend ul {
    margin: 20px 0 0 0;
  }
  .index-recommend ul li .imgbox {
    float: none;
    margin: 0 auto;
    background: #eee;
  }
  .index-recommend ul li .imgbox img {
    max-width: 100%;
  }
  .index-recommend ul li .txtbox {
    float: none;
    width: 100%;
  }
  .index-recommend ul li .txtbox::before {
    content: '';
    display: block;
    width: 190px;
    height: 4px;
    margin: 0 auto;
    background: #FFB2B2;
  }
  .index-recommend ul li .txtbox p {
    line-height: 1.875rem;
    color: #707070;
  }
  .index-recommend ul li .txtbox span {
    text-align: center;
  }
  .index-recommend ul li .txtbox .name {
    text-align: center;
  }
}

.index-service {
  width: 100%;
  padding: 50px 0 0 0;
  background: url(../images/qna.jpg) no-repeat;
  background-size: cover;
}

.index-service .container {
  padding: 40px 5%;
}

.index-service h3 {
  margin: 20px 0 0 0;
  font-weight: bold;
  color: #000;
}

.index-service span {
  font-size: 1.2rem;
  font-weight: bold;
}

.index-service p {
  margin: 40px 0 20px 0;
}

.index-service .link {
  display: block;
  width: 150px;
  height: 42px;
  text-align: center;
  line-height: 36px;
  color: #F08F8F;
  border: 3px solid #fff;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(240, 143, 143, 0.2);
          box-shadow: 0 0 20px rgba(240, 143, 143, 0.2);
}

.index-service .link i {
  margin: 0 0 0 10px;
}

.index-service .link:hover i {
  margin: 0 0 0 20px;
}

.index-service .contact-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.index-service .contact-form p label {
  display: inline-block;
  width: 120px;
  padding: 5px 10px;
  line-height: 2rem;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.index-service .contact-form p input {
  width: 100%;
  padding: 5px 10px;
  line-height: 2rem;
  border: 0;
  border-radius: 5px;
}

.index-service .contact-form p textarea {
  width: 100%;
  padding: 5px 10px;
  line-height: 2rem;
  border: 0;
  border-radius: 5px;
}

.index-service .contact-form p .send {
  display: block;
  width: 120px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  border: 0;
  border-radius: 21px;
  background: #333;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .index-service {
    background: url(../images/qna@2x.jpg) no-repeat;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .index-service {
    padding: 0;
  }
  .index-service h3 {
    text-align: center;
  }
  .index-service span {
    display: block;
    text-align: center;
  }
  .index-service p {
    margin: 10px 0 20px 0;
    text-align: center;
  }
  .index-service .link {
    margin: 0 auto;
  }
  .index-service .contact-form {
    padding: 50px 0 0 0;
  }
  .index-service .contact-form p {
    display: block;
  }
  .index-service .contact-form p label {
    width: 100%;
  }
  .index-service .contact-form p input {
    width: 100%;
    padding: 5px 10px;
    line-height: 2rem;
  }
  .index-service .contact-form p textarea {
    padding: 5px 10px;
    line-height: 2rem;
  }
  .index-service .contact-form p .send {
    margin: 0 auto;
  }
}

footer {
  position: relative;
  padding: 95px 3% 40px 3%;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #555;
}

footer .gotop {
  position: absolute;
  right: 3%;
  top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #333;
  border-radius: 35px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

footer .contact img {
  margin: 12px 0 0 0;
}

footer .copyright {
  position: absolute;
  right: 3%;
  bottom: 40px;
  text-align: right;
  color: #999;
}

footer .copyright a {
  color: #333;
}

@media (max-width: 576px) {
  footer {
    padding: 40px 3%;
  }
  footer .contact {
    width: 100%;
    text-align: center;
  }
  footer .contact img {
    margin: 0 0 30px 0;
  }
  footer .copyright {
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    text-align: center;
  }
}

.banner {
  height: 90px;
  padding: 90px 0 0 0;
  background: #f4f4f4;
}

.product {
  margin: 50px 0 0 0;
  padding: 0 3%;
}

.product h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.product ul {
  margin: 0;
}

.product ul li {
  position: relative;
  margin: 0 0 25px 0;
}

.product ul li:first-child, .product ul li:nth-child(2) {
  border-bottom: 1px dotted #ccc;
}

.product ul li .notice {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 300px;
  margin: 0 0 0 -125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product ul li h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product ul li h4 span {
  margin: 0 0 0 10px;
  font-size: 1rem;
  font-weight: normal;
  color: #999;
}

.product ul li .imgbox {
  text-align: center;
  padding: 0;
}

.product ul li .imgbox img {
  max-width: 100%;
  margin: 0 0 0 0;
}

.product ul li .imgbox p {
  width: 250px;
  margin: 0 auto;
  padding: 20px 0;
  color: #F08F8F;
  background: #f4f4f4;
}

.product ul li .imgbox p.dark {
  background: #eee;
}

.product ul li .txtbox {
  padding: 20px 0 0 0;
}

.product ul li .txtbox p {
  margin: 20px 0 20px 0;
}

.product ul li .txtbox p span {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 2px 10px;
  color: #F08F8F;
  border-radius: 20px;
  background: #FFF1F1;
}

.product ul li .txtbox .price {
  font-weight: bold;
  color: #FF6464;
}

.product ul li .txtbox .sold {
  margin: 0 0 0 10px;
  padding: 2px 5px;
  font-weight: bold;
  color: #e24949;
  border: 3px solid #e24949;
  border-radius: 3px;
}

.product ul li .txtbox img {
  max-width: 100%;
}

.product ul li .txtbox ul li {
  position: relative;
  margin: 0 0 5px 0;
  padding: 0 0 0 20px;
  text-align: justify;
  border-bottom: 0;
}

.product ul li .txtbox ul li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  background: #F08F8F;
}

.product ul li a {
  display: block;
  width: 140px;
  height: 40px;
  margin: 50px 0 0 0;
  line-height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#2B2F30), to(#717474));
  background: linear-gradient(to right, #2B2F30, #717474);
}

.product ul li a:hover {
  color: #ffff66;
}

.product ul li i {
  font-size: 0.8rem;
}

@media (max-width: 1439px) {
  .product ul li .txtbox {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .product {
    margin: 100px 0 0 0;
  }
  .product ul li {
    margin: 0 0 50px 0;
    border-bottom: 1px dotted #ccc;
  }
  .product ul li:nth-child(5) {
    border-bottom: 0;
  }
  .product ul li:last-child {
    border-bottom: 0;
  }
  .product ul li a {
    display: block;
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  .product ul li:nth-child(5) {
    border-bottom: 1px dotted #ccc;
  }
}

.service {
  width: 100%;
  padding: 0 0 0 0;
  background: url(../images/qna.jpg) no-repeat;
  background-size: cover;
}

.service .container {
  padding: 40px 5%;
}

.service h3 {
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.service span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.service p {
  margin: 20px 0;
  text-align: center;
}

.service .link {
  display: block;
  width: 150px;
  height: 42px;
  margin: 0 auto;
  text-align: center;
  line-height: 36px;
  color: #F08F8F;
  border: 3px solid #fff;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(240, 143, 143, 0.2);
          box-shadow: 0 0 20px rgba(240, 143, 143, 0.2);
}

.service .link i {
  margin: 0 0 0 10px;
}

.service .link:hover i {
  margin: 0 0 0 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
  .service {
    background: url(../images/qna@2x.jpg) no-repeat;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .service {
    padding: 0;
  }
  .service h3 {
    text-align: center;
  }
  .service span {
    display: block;
    text-align: center;
  }
  .service p {
    margin: 10px 0 20px 0;
    text-align: center;
  }
  .service .link {
    margin: 0 auto;
  }
}

.faq {
  margin: 50px 0 0 0;
  padding: 0 3%;
}

.faq h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.faq #qaContent {
  width: 800px;
  margin: 0 auto;
}

.faq #qaContent ul.accordionPart li {
  margin: 0 0 50px 0;
  border-radius: 10px;
  border: 5px solid #fff1f1;
  overflow: hidden;
}

.faq #qaContent ul.accordionPart li .qa_title {
  position: relative;
  padding: 20px 20px 20px 40px;
  color: #ff6464;
  background: #fff1f1;
  cursor: pointer;
}

.faq #qaContent ul.accordionPart li .qa_title span {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 30px;
}

.faq #qaContent ul.accordionPart li .qa_content {
  padding: 20px;
}

@media (max-width: 991px) {
  .faq #qaContent {
    width: 100%;
  }
}

.disclaimer {
  margin: 50px 0 0 0;
  padding: 0 3%;
}

.disclaimer h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.disclaimer ol {
  list-style: decimal;
  width: 800px;
  margin: 0 auto 50px auto;
}

.disclaimer ol li {
  margin: 0 0 20px 0;
}

@media (max-width: 991px) {
  .disclaimer #qaContent {
    width: 100%;
  }
}

.feedback {
  position: relative;
  margin: 50px 0 0 0;
  padding: 0;
}

.feedback h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.feedback ul {
  position: relative;
  margin: 0 0 45px 0;
  padding: 0;
}

.feedback ul li {
  margin: 0;
  padding: 0;
  background: #FFF1F1;
}

.feedback ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 1px;
  margin: 0 0 0 30%;
  background: rgba(240, 143, 143, 0.3);
}

.feedback ul li div:first-child {
  padding: 50px;
  color: #555;
  line-height: 1.8rem;
}

.feedback ul li div:first-child span {
  position: relative;
  display: inline-block;
  padding: 0 0 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.feedback ul li div:first-child span::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 5px;
  height: 20px;
  background: #ff7d6e;
}

.feedback ul li div:last-child {
  padding: 50px 20px;
  background: #fff;
}

.feedback .imgbox {
  position: relative;
  display: inline-block;
  margin: 0 0 40px 25px;
  border-radius: 5px;
}

.feedback .imgbox img {
  border-radius: 8px;
}

.feedback .imgbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin: -20px 0 0 -23px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #ff7d6e;
}

.feedback .imgbox:first-child {
  margin: 0 0 20px 0;
}

.feedback .imgbox:first-child::before {
  display: none;
}

.feedback .imgbox b {
  display: block;
  width: 80%;
  height: 1.8rem;
  margin: 0 auto;
  padding: 5px 0;
  font-size: .9rem;
  font-weight: normal;
  letter-spacing: .2rem;
  text-align: center;
  color: #555;
  border-radius: 20px;
}

.feedback .name {
  display: block;
  width: 320px;
  height: 40px;
  margin: 0 0 20px 0;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background: #FFB2B2;
}

.feedback p {
  line-height: 1.875rem;
}

@media (max-width: 991px) {
  .feedback ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: 0;
    background: rgba(240, 143, 143, 0.3);
  }
  .feedback ul li div:last-child {
    text-align: center;
  }
}

@media (max-width: 591px) {
  .feedback .imgbox {
    display: block;
    margin: 0 0 45px 0;
    text-align: center;
  }
  .feedback .imgbox:first-child {
    margin: 0 0 35px 0;
  }
  .feedback .imgbox::before {
    top: 0;
    left: 50%;
    margin: -35px 0 0 -10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.recommend {
  margin: 0px 0 0 0;
  padding: 0 5% 50px 5%;
}

.recommend h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.recommend .no-content {
  text-align: center;
  color: #999;
}

.recommend ul {
  margin: 0;
}

.recommend ul li {
  margin: 0 0 100px 0;
}

.recommend ul li .imgbox {
  float: left;
  display: block;
  width: 190px;
  height: 233px;
  margin: 0 35px 0 0;
  background: #eee;
}

.recommend ul li .imgbox img {
  max-width: 100%;
}

.recommend ul li .txtbox {
  float: left;
  display: block;
  width: calc(100% - 225px);
}

.recommend ul li .txtbox::before {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  margin: 30px 0 0 0;
  background: #FFB2B2;
}

.recommend ul li .txtbox p {
  line-height: 1.875rem;
  color: #707070;
}

.recommend ul li .txtbox span {
  display: block;
  margin: 10px 0 0 0;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #777;
}

.recommend ul li .txtbox .name {
  font-size: 24px;
  line-height: 2.25rem;
  color: #333;
}

@media (max-width: 991px) {
  .recommend {
    margin: 0 0 100px 0;
  }
  .recommend ul li {
    margin: 0;
    padding: 50px 0;
    border-bottom: 1px dotted #ccc;
  }
  .recommend ul li:first-child {
    padding: 0 0 50px 0;
  }
  .recommend ul li:last-child {
    padding: 50px 0 0 0;
    border-bottom: 0;
  }
}

@media (max-width: 479px) {
  .recommend {
    margin: 0;
  }
  .recommend ul {
    margin: 20px 0 0 0;
  }
  .recommend ul li .imgbox {
    float: none;
    margin: 0 auto;
    background: #eee;
  }
  .recommend ul li .imgbox img {
    max-width: 100%;
  }
  .recommend ul li .txtbox {
    float: none;
    width: 100%;
  }
  .recommend ul li .txtbox::before {
    content: '';
    display: block;
    width: 190px;
    height: 4px;
    margin: 0 auto;
    background: #FFB2B2;
  }
  .recommend ul li .txtbox p {
    line-height: 1.875rem;
    color: #707070;
  }
  .recommend ul li .txtbox span {
    text-align: center;
  }
  .recommend ul li .txtbox .name {
    text-align: center;
  }
}

.share {
  margin: 50px 0 0 0;
  padding: 0 5% 50px 5%;
}

.share h3 {
  margin: 0 0 50px 0;
  text-align: center;
  line-height: 2rem;
}

.share .info {
  display: block;
  overflow: hidden;
}

.share .info .content {
  float: left;
  width: 70%;
}

.share .info .content .main {
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
}

.share .info .content .main h4 {
  margin: 0 0 20px 0;
  font-weight: bold;
}

.share .info .content .main p {
  line-height: 2rem;
}

.share .info .content .main p.pimg {
  text-align: center;
}

.share .info .content .main p:last-child {
  margin-bottom: 0;
}

.share .info .content .main p.origin {
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  background: #f4f4f4;
}

.share .info .content .main p a {
  color: #999;
}

.share .info .content .main img {
  max-width: 100%;
}

.share .info .content .main:first-child {
  padding: 0 0 50px 0;
  border-top: 0;
}

.share .info .content .main:last-child {
  border-bottom: 0;
}

.share .info .content .main .js-anchor-link {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: block;
  padding: 2px 5px;
  font-size: 0.6rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: #999;
  border-radius: 3px;
}

.share .info .sidebar {
  float: right;
  width: 25%;
  margin: 0 0 0 5%;
}

.share .info .sidebar li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.share .info .sidebar li:last-child {
  border-bottom: 0;
}

.share .info .sidebar li a {
  color: #FF5E5E;
}

@media (max-width: 991px) {
  .share .info {
    display: block;
  }
  .share .info .content {
    width: 100%;
  }
  .share .info .sidebar {
    width: 100%;
    margin: 0;
  }
}
