* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
			box-sizing: border-box;
}
html, body {
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #555;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	margin: 0;
}
h3 {
	font-size: 28px;
	color: #333;
	span {
		display: block;
		font-size: 20px;
		font-weight: normal;
		color: #F08F8F;
	}
}
header {
	position: fixed;
	display: block;
	width: 100%;
	height: 90px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	z-index: 99;
	.container {
		max-width: none;
		padding: 15px;
	}
}
.site-title {
	overflow: hidden;
	a {
		float: left;
		display: block;
		width: 173px;
		height: 62px;
		padding: 40px 0 0 0;
		font-size: 18px;
		font-weight: normal;
		text-align: right;
		color: #555555;
		background: url(../images/logo.png) no-repeat;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
	.site-title {
		a {
			background: url(../images/logo@2x.png) no-repeat;
			background-size: 170px 40px;
		}
	}
}

.hamburger {
	display: none!important;
}
@media (max-width: 991px) {
	.hamburger {
		display: inline-block!important;
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 15px 0 15px 15px;
		z-index: 1001;
	}
}

.fullscreen-nav {
	position: fixed;
	top: 20px;
	right: 50px;
	z-index: 999;
	ul {
		li {
			display: inline-block;
			margin: 0 0 0 40px;
			a {
				position: relative;
				display: block;
				height: 50px;
				font-size: 1.125rem;
				line-height: 50px;
				color: #333;
				&:hover {
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 3px;
						border-radius: 2px;
						background: #FF5E5E;
					}
				}
			}
			&:last-child {
				a {
					position: relative;
					display: block;
					width: 120px;
					height: 50px;
					line-height: 55px;
					text-align: center;
					border-radius: 25px;
					background: linear-gradient(to right, #FF9393, #FFA7A7);
					color: #fff;
					span {
						position: absolute;
						top: 10px;
						left: 50%;
						display: block;
						width: 20px;
						height: 20px;
						margin: 0 0 0 -25px;
						padding: 0;
						font-size: 12px;
						line-height: 20px;
						border-radius: 10px;
						background: #000;
					}
					i {
						margin: 0 10px 0 0;
					}
					&:hover {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.fullscreen-nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		padding-top: 100px;
		background-color: #FFF1F1;
		z-index: 5;
		overflow-x: hidden;
		opacity: 0;
		-webkit-transition: 10s;
		transition: 10s;
		z-index: 1000;
		&.is-active {
			display: block;
			width: 100%;
			opacity: 1;
		}
		ul {
			width: 50%;
			margin: 0 auto;
			li {
				width: 100%;
				margin: 0 0 15px 0;
				padding: 0 0 15px 0;
				text-align: center;
				border-bottom: 1px solid rgba(247, 147, 147, .25);
				&:nth-child(5) {
					border-bottom: 0;
				}     
				&:last-child {
					border-bottom: 0;
					a {
						width: 100%;
					}
				} 
				a {
					&:hover {
						&:after {
							display: none;
						}
					}
				}           
			}
		}
		span {
			display: block;
			padding: 8px 0;
			font-size: 1.6rem;
			color: #fff;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			i {
				display: inline-block;
				width: 20px;
				margin: 0 10px 0 0;
				font-size: 1.4rem;
			}
		}
		p {
			line-height: 2;
			a {
				display: block;
				font-size: 1.3rem;
				color: #fff;
			}        
		}
	}
}
.kv {
	height: 500px;
	padding: 90px 0 0 0;
	.carousel-indicators {
		margin: 0 0 20px 0;
		li {
			display: inline-block;
			width: 12px; 
			height: 12px;
			margin: 0 5px;
			border: 0;
			border-radius: 6px;
			background: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, .2);
			&.active {
				background: #FFA7A7;
			}
		}
	}
	.carousel-item {
		height: 410px;
		&:first-child, &:last-child {
			.txtbox {
				right: 0;
				display: flex;
				justify-content: flex-end;
				p {
					width: auto;
					text-align: left;
				}
			}
			.imgbox {
				text-align: left;
			}
		}
	}
	.txtbox {
		position: absolute;
		top: 50%;
		display: flex;
		width: 100%;
		padding: 0 10%;
		font-size: 1.4rem;
		align-items: center;
		text-align: right;
		strong {
			font-size: 2rem;
			color: #333;
		}
	}
	.imgbox {
		width: 100%;
		margin: 0 auto;
		text-align: right;
		.img-fluid {
			height: 410px;
		}
	}
}
@media (max-width: 991px) {
	.kv {
		margin: 0;
		height: auto;
		.carousel-indicators { 
			height: auto;
			margin: 0 0 10px 0;
		}
		.carousel-item {
			height: auto;
		}
		.txtbox {
			top: auto;
			bottom: 32px;
			height: auto;
			padding: 0 5%;
			p {
				width: 50%;
				margin: 0;
				padding: 10px 0;
				font-size: .8rem;
			}
			strong {
				font-size: 1rem;
			}
		}
		.imgbox {
			height: auto;
			.img-fluid {
				height: auto;
			}
		}
	}
}
.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
@media (max-width: 1279px) {
	.container {
		margin: 0;
		padding: 0 15px;
	}
}

.index-about {
	padding: 90px 0 0 0;
	.row {
		&:first-child {
			.txtbox {
				display: flex;
				flex-direction: column;
				padding: 0 100px 65px 40px;
				justify-content: center;
			}
		}
		&:nth-child(2) {
			.txtbox {
				display: flex;
				flex-direction: column;
				padding: 120px 40px 90px 100px;
				justify-content: center;
				li {
					position: relative;
					margin: 0 0 30px 0;
					padding: 0 0 0 20px;
					&::before {
						content: '';
						position: absolute;
						top: 9px;
						left: 0;
						display: block;
						width: 8px;
						height: 8px;
						background: rgb(255, 125, 110);
					} 
					&:last-child {
						margin: 0;
					}
				}
			}
			.imgbox {
				position: relative;
				div {
					position: absolute;
					top: 50px;
					right: 50px;
					display: flex;
					width: 540px;
					height: 395px;
					justify-content: center;
					align-items: center;
					background: #fff;
					box-shadow: 0 0 20px rgba(0, 0, 0, .05);
					img {
						max-width: 100%; 
					}
				}
			}
		}
		&:nth-child(3) {
			.txtbox {
				display: flex;
				flex-direction: column;
				padding: 0 200px 100px 100px;
				justify-content: center;
				li {
					position: relative;
					margin: 0 0 30px 0;
					padding: 0 0 0 20px;
					&:last-child {
						margin: 0;
					}
					&::before {
						content: '';
						position: absolute;
						top: 9px;
						left: 0;
						display: block;
						width: 8px;
						height: 8px;
						background: rgb(255, 125, 110);
					} 
				}
			}
			.have-bg {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					top: -65px;
					left: 0;
					width: calc(100% - 100px);
					height: calc(100% + 65px);
					background: #FFF6EF;
					z-index: -1;
				}
			}
		}
	}
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 2.25rem;
		color: #333;
		&::after {
			content: '';
			display: block;
			width: 120px;
			height: 4px;
			margin: 10px 0 30px 0;
			border-radius: 2px;
			background: #FFC1C1;
		}
	}
	.imgbox {
		padding: 0;
		img {
			max-width: 100%;
			border: 0;
		}
	}
	.have-bg {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -65px;
			left: 0;
			width: calc(200% - 100px);
			height: calc(100% + 65px);
			background: #FFF6EF;
			z-index: -1;
		}
	}
}
@media (max-width: 1180px) {
	.index-about {
		.row {
			&:nth-child(2) {
				.imgbox {
					div {
						right: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.index-about {
		padding: 50px 0 0 0;
		.have-bg {
			&::after {
				content: '';
				top: 0;
				width: calc(100% - 100px);
				height: calc(100% + 100px)
			}
		}
		.row {
			&:first-child {
				.txtbox {
					padding: 50px 3%;
				}
				.imgbox {
					text-align: center;
				}
			}
			&:nth-child(2) {
				.txtbox {
					padding: 50px 3%;
				}
				.imgbox {
					position: relative;
					div {
						position: relative;
						top: 0;
						right: 0;
						margin: 0 auto 50px auto;
					}
				}
			}
		}
	}
}
@media (max-width: 539px) {
	.index-about {
		.row {
			&:first-child {
				.imgbox {
					padding: 3%;
				}
				.txtbox {
					padding: 2rem;
				}
			}
			&:nth-child(2) {
				// padding: 0 0 50px 0;
				background: #FFF6EF;
				.imgbox {
					padding: 0 3%;
					div {
						width: 100%;
						height: auto;
						margin: 0 auto;
						
					}
				}
				.txtbox {
					padding: 2rem;
				}
			}
			&:nth-child(3) {
				padding: 0 0 50px 0;
				background: #FFF6EF;
				.txtbox {
					padding: 2rem;
				}
			}
		}
		.have-bg {
			position: relative;
			&::after {
				content: '';
				display: none;
			}
		}
	}
}

.index-feature {
	width: 100%;
	margin: 0 0 150px 0;
	padding: 0 3%;
	background: #FFACA2;
	li {
		padding: 40px 50px;
		line-height: 1.75rem;
		color: #fff;
		&:nth-child(2) {
			background: rgba(255,255,255,.25);
		}
	}
}
@media (max-width: 991px) {
	.index-feature {
		margin: 0 0 100px 0;
		padding: 0;
		.row {
			margin: 0;
		}
	}
}

.index-product {
	margin: 150px 0 0 0;
	padding: 0 3%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	ul {
		margin: 0;
		li {
			position: relative;
			text-align: center;
			.notice {
				position: absolute;
				top: 0;
				left: 50%;
				display: flex;
				width: 250px;
				height: 300px;
				margin: 0 0 0 -125px;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			img {
				max-width: 100%;
				margin: 0 0 25px 0;
			}
			.price {
				font-weight: bold;
				color: #ff6464;
			}
			a {
				display: block;
				width: 200px;
				height: 40px;
				margin: 10px auto 0 auto;
				line-height: 40px;
				color: #fff;
				letter-spacing: 2px;
				border-radius: 20px;
				background: linear-gradient(to right, #2B2F30, #717474);
				&:hover {
					color: #ffff66;
				}
			}
			i {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: 991px) {
	.index-product {
		margin: 100px 0 0 0;
		ul {
			li {
				margin: 0 0 50px 0;
			}
		}
	}
}

.index-feedback {
	position: relative;
	padding: 150px 0 0 0;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	ul {
		position: relative;
		margin: 0 0 45px 0;
		padding: 0 3%;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -120px;
			width: 100%;
			height: calc(100% + 45px);
			background: #FFF1F1;
			z-index: -1;
		}
		li {
			padding: 0 30px;
		}
	}
	.imgbox {
		width: 160px;
		height: 160px;
		margin: 0 0 18px 0;
		border-radius: 80px;
		background: #ccc;
		overflow: hidden;
	}
	.name {
		position: absolute;
		left: 95px;
		top: 130px;
		display: block;
		width: 180px;
		height: 40px;
		color: #fff;
		line-height: 40px;
		text-align: center;
		border-radius: 20px;
		background: #FFB2B2;
	}
	p, a {
		display: -webkit-box;
		height: ‭5.625rem;
		line-height: 1.875rem;
		text-overflow: ellipsis;
		color: #555;
		-webkit-line-clamp: 3; 
		-webkit-box-orient: vertical;
		overflow: hidden;
		&:hover {
			color: #333;
		}
	}
}
@media (max-width: 991px) {
	.index-feedback {
		padding: 100px 0 0 0;
	}
}

.index-recommend {
	padding: 0 5% 50px 5%;
	h3 {
		span {
			display: inline-block;
			margin: 0 0 0 10px;
			color: #aaa;
		}
	}
	.no-content {
		color: #999;
	}
	ul {
		margin: 0;
		li {
			.imgbox {
				float: left;
				display: block;
				width: 190px; 
				height: 233px;
				margin: 0 35px 0 0;
				background: #eee;
				img {
					max-width: 100%;
				}
			}
			.txtbox {
				float: left;
				display: block;
				width: calc(100% - 225px);
				&::before {
					content: '';
					display: block;
					width: 70px;
					height: 4px;
					margin: 30px 0 0 0;
					background: #FFB2B2;
				}
				p {
					line-height: 1.875rem;
					color: #707070;
				}
				span {
					display: block;
					margin: 10px 0 0 0;
					font-size: 1rem;
					line-height: 2.25rem;
					color: #777;
				}
				.name {
					font-size: 24px;
					line-height: 2.25rem;
					color: #333;   
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.index-recommend  {
		margin: 0 0 100px 0;
		ul {
			li {
				margin: 0 0 50px 0;
			}
		}
	}
}
@media (max-width: 479px) {
	.index-recommend  {
		margin: 0;
		ul {
			margin: 20px 0 0 0;
			li {
				.imgbox {
					float: none;
					margin: 0 auto;
					background: #eee;
					img {
						max-width: 100%;
					}
				}
				.txtbox {
					float: none;
					width: 100%;
					&::before {
						content: '';
						display: block;
						width: 190px;
						height: 4px;
						margin: 0 auto;
						background: #FFB2B2;
					}
					p {
						line-height: 1.875rem;
						color: #707070;
					}
					span {
						text-align: center;
					}
					.name {
						text-align: center;
					}
				}
			}
		}
	}
}

.index-service {
	width: 100%;
	padding: 50px 0 0 0;
	background: url(../images/qna.jpg) no-repeat;background-size: cover;
	.container {
		padding: 40px 5%;	
	}
	h3 {
		margin: 20px 0 0 0;
		font-weight: bold;
		color: #000;
	}
	span {
		font-size: 1.2rem;
		font-weight: bold;
	}
	p {
		margin: 40px 0 20px 0;
	}
	.link {
		display: block;  
		width: 150px;
		height: 42px;       
		text-align: center;   
		line-height: 36px;
		color: #F08F8F;
		border: 3px solid #fff;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0 0 20px rgba(240, 143, 143, .2);
		i {
			margin: 0 0 0 10px;
		}
		&:hover {
			i {
				margin: 0 0 0 20px;
			}
		}
	}
	.contact-form {
		p {
			display: flex;
			margin: 0 0 20px 0;
			label {
				display: inline-block;
				width: 120px;
				padding: 5px 10px;
				line-height: 2rem;
				color: #fff;
				text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
			}
			input {
				width: 100%;
				padding: 5px 10px;
				line-height: 2rem;
				border: 0;
				border-radius: 5px;
			}
			textarea {
				width: 100%;
				padding: 5px 10px;
				line-height: 2rem;
				border: 0;
				border-radius: 5px;
			}
			.send {
				display: block;  
				width: 120px;
				height: 42px;       
				text-align: center;   
				line-height: 42px;
				color: #fff;
				border: 0;
				border-radius: 21px;
				background: #333;
			}
		}
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
	.index-service {
		background: url(../images/qna@2x.jpg) no-repeat;
		background-size: cover;
	}
}
@media (max-width: 991px) {
	.index-service {
		padding: 0;
		h3 {
			text-align: center;
		}
		span {
			display: block;
			text-align: center;
		}
		p {
			margin: 10px 0 20px 0;
			text-align: center;
		}
		.link {
			margin: 0 auto;
		}
		.contact-form {
			padding: 50px 0 0 0;
			p {
				display: block;
				label {
					width: 100%;
				}
				input {
					width: 100%;
					padding: 5px 10px;
					line-height: 2rem;
				}
				textarea {
					padding: 5px 10px;
					line-height: 2rem;
				}
				.send {
					margin: 0 auto;
				}
			}
			
		}
	}
}

footer {
	position: relative;
	padding: 95px 3% 40px 3%;
	font-size: .8rem;
	font-weight: 300;
	line-height: 1.875rem;
	color: #555;
	.gotop {
		position: absolute;
		right: 3%;
		top: -35px;
		display: flex;
		width: 70px;
		height: 70px;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: #333;
		border-radius: 35px;
		background: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, .05);
		z-index: 9999;
	}
	.contact {
		img {
			margin: 12px 0 0 0;
		}
	}
	.copyright {
		position: absolute;
		right: 3%;
		bottom: 40px;
		text-align: right;
		color: #999;
		a {
			color: #333;
		}
	}
}
@media (max-width: 576px) {
	footer {
		padding: 40px 3%;
		.contact {
			width: 100%;
			text-align: center;
			img {
				margin: 0 0 30px 0;
			}
		}
		.copyright {
			position: relative;
			right: auto;
			bottom: auto;
			width: 100%;
			text-align: center;
		}
	}
}

.banner {
	height: 90px;
	padding: 90px 0 0 0;
	background: #f4f4f4;
}

.product {
	margin: 50px 0 0 0;
	padding: 0 3%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	ul {
		margin: 0;
		li {
			position: relative;
			margin: 0 0 25px 0;
			&:first-child, &:nth-child(2) {
				border-bottom: 1px dotted #ccc;
			}
			.notice {
				position: absolute;
				top: 0;
				left: 50%;
				display: flex;
				width: 250px;
				height: 300px;
				margin: 0 0 0 -125px;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			h4 {
				font-size: 1.2rem;
				font-weight: bold;
				color: #333;
				span {
					margin: 0 0 0 10px;
					font-size: 1rem;
					font-weight: normal;
					color: #999;
				}
			}            
			.imgbox {
				text-align: center;
				padding: 0;
				img {
					max-width: 100%;
					margin: 0 0 0 0;
				}
				p {
					width: 250px;
					margin: 0 auto;
					padding: 20px 0;
					color: #F08F8F;
					background: #f4f4f4;
					&.dark {
						background: #eee;
					}
				}
			}
			.txtbox {
				padding: 20px 0 0 0;
				p {
					margin: 20px 0 20px 0;
					span {
						display: inline-block;
						margin: 0 0 5px 0;
						padding: 2px 10px;
						color: #F08F8F;
						border-radius: 20px;
						background: #FFF1F1;
					}
				}
				.price {
					font-weight: bold;
					color: #FF6464;
				}
				img {
					max-width: 100%;
				}
				ul {
					li {
						position: relative;
						margin: 0 0 5px 0;
						padding: 0 0 0 20px;
						text-align: justify;
						border-bottom: 0;
						&::before {
							content: '';
							position: absolute;
							top: 7px;
							left: 0;
							display: block;
							width: 10px;
							height: 10px;
							background: #F08F8F;
						}
						
					}
				}
			}
			a {
				display: block;
				width: 140px;
				height: 40px;
				margin: 50px 0 0 0;
				line-height: 40px;
				text-align: center;
				color: #fff;
				letter-spacing: 2px;
				border-radius: 20px;
				background: linear-gradient(to right, #2B2F30, #717474);
				&:hover {
					color: #ffff66;
				}
			}
			i {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: 1439px) {
	.product {
		ul {
			li {
				.txtbox {
					padding: 20px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.product {
		margin: 100px 0 0 0;
		ul {
			li {
				margin: 0 0 50px 0;
				border-bottom: 1px dotted #ccc;
				&:nth-child(5) {
					border-bottom: 0;
				}
				&:last-child {
					border-bottom: 0;
				}
				a {
					display: block;
					margin: 20px auto;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.product {
		ul {
			li {
				&:nth-child(5) {
					border-bottom: 1px dotted #ccc;
				}
			}
		}
	}
}

.service {
	width: 100%;
	padding: 0 0 0 0;
	background: url(../images/qna.jpg) no-repeat;
	background-size: cover;
	.container {
		padding: 40px 5%;
	}
	h3 {
		margin: 0;
		font-weight: bold;
		text-align: center;
		color: #000;
	}
	span {
		display: block;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}
	p {
		margin: 20px 0;
		text-align: center;
	}
	.link {
		display: block;  
		width: 150px;
		height: 42px;   
		margin: 0 auto;    
		text-align: center;   
		line-height: 36px;
		color: #F08F8F;
		border: 3px solid #fff;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0 0 20px rgba(240, 143, 143, .2);
		i {
			margin: 0 0 0 10px;
		}
		&:hover {
			i {
				margin: 0 0 0 20px;
			}
		}
	}
	// .contact-form {
	//     p {
	//         display: flex;
	//         margin: 0 0 20px 0;
	//         span {
	//             padding: 0;
	//             font-size: 1rem;
	//             line-height: 1.8rem;
	//             color: #555;
	//         }
	//         label {
	//             display: inline-block;
	//             width: 120px;
	//             color: #fff;
	//             text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	//         }
	//         input {
	//             width: 80%;
	//             border: 0;
	//             border-radius: 5px;
	//         }
	//         textarea {
	//             width: 100%;
	//             border: 0;
	//             border-radius: 5px;
	//         }
	//         select {
	//             width: 50px;
	//             margin: 0 5px 0 20px;
	//             border: 0;
	//             border-radius: 5px;
	//         }
	//         .send {
	//             display: block;  
	//             width: 120px;
	//             height: 42px;       
	//             text-align: center;   
	//             line-height: 42px;
	//             color: #fff;
	//             border: 0;
	//             border-radius: 21px;
	//             background: #333
	//         }
	//     }
	// }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
	.service {
		background: url(../images/qna@2x.jpg) no-repeat;
		background-size: cover;
	}
}
@media (max-width: 991px) {
	.service {
		padding: 0;
		h3 {
			text-align: center;
		}
		span {
			display: block;
			text-align: center;
		}
		p {
			margin: 10px 0 20px 0;
			text-align: center;
		}
		.link {
			margin: 0 auto;
		}
		// .contact-form {
		//     padding: 50px 0 0 0;
		//     p {
		//         label {
		//             display: block;
		//             width: 100%;
		//         }
		//         input {
		//             width: 100%;
		//         }
		//     }
		// }
	}
}

.faq {
	margin: 50px 0 0 0;
	padding: 0 3%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	#qaContent {
		width: 800px;
		margin: 0 auto;
		ul.accordionPart {
			li {
				margin: 0 0 50px 0;
				border-radius: 10px;
				border: 5px solid #fff1f1;
				overflow: hidden;
				.qa_title {
					position: relative;
					padding: 20px 20px 20px 40px;
					color: #ff6464;
					// text-shadow: 1px 1px 10px rgba(255, 100, 100, 1);
					// background: rgb(255, 200, 200);
					background: #fff1f1;
					cursor: pointer;
					span {
						position: absolute;
						top: 20px;
						left: 20px;
						display: block;
						width: 30px;
					}
				}
				.qa_content {
					padding: 20px;
					// border-top: 1px dashed #e3e3e3;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.faq {
		#qaContent {
			width: 100%;
		}
	}
}

.disclaimer {
	margin: 50px 0 0 0;
	padding: 0 3%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	ol {
		list-style: decimal;
		width: 800px;
		margin: 0 auto 50px auto;
		li {
			margin: 0 0 20px 0;
		}
	}
}
@media (max-width: 991px) {
	.disclaimer {
		#qaContent {
			width: 100%;
		}
	}
}

.feedback {
	position: relative;
	margin: 50px 0 0 0;
	padding: 0;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	ul {
		position: relative;
		margin: 0 0 45px 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			background: #FFF1F1;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 70%;
				height: 1px;
				margin: 0 0 0 30%;
				background: rgba(240, 143, 143, .3);
			}
			div {
				&:first-child {
					padding: 50px;
					color: #555;
					line-height: 1.8rem;
					span {
						position: relative;
						display: inline-block;
						padding: 0 0 10px 20px;
						font-size: 1.2rem;
						font-weight: bold;
						color: #555;
						&::before {
							content: '';
							position: absolute;
							top: 2px;
							left: 0;
							display: block;
							width: 5px;
							height: 20px;
							background: rgba(255, 125, 110, 1);
						}
					}
				}
				&:last-child {
					padding: 50px 20px;
					background: #fff;
				}
			}
		}
	}
	.imgbox {
		position: relative;
		display: inline-block;
		margin: 0 0 40px 25px;
		border-radius: 5px;
		img {
			border-radius: 8px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 0;
			height: 0;
			margin: -20px 0 0 -23px;
			border-style: solid;
			border-width: 20px 0 20px 20px;
			border-color: transparent transparent transparent rgba(255, 125, 110, 1);
		}
		&:first-child {
			margin: 0 0 20px 0;
			&::before {
				display: none;
			}
		}
		b {
			display: block;
			width: 80%;
			height: 1.8rem;
			margin: 0 auto;
			padding: 5px 0;
			font-size: .9rem;
			font-weight: normal;
			letter-spacing: .2rem;
			text-align: center;
			color: #555;
			border-radius: 20px;
		}
	}
	.name {
		// position: absolute;
		// left: 95px;
		// top: 115px;
		display: block;
		width: 320px;
		height: 40px;
		margin: 0 0 20px 0;
		color: #fff;
		line-height: 40px;
		text-align: center;
		border-radius: 0 0 10px 10px;
		background: #FFB2B2;
	}
	p {
		line-height: 1.875rem;
	}
}
@media (max-width: 991px) {
	.feedback {
		ul {
			li {
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 1px;
					margin: 0;
					background: rgba(240, 143, 143, .3);
				}
				div {
					&:last-child {
						text-align: center;
					}
				}
			}
		}
	}
}
@media (max-width: 591px) {
	.feedback {
		.imgbox {
			display: block;
			margin: 0 0 45px 0;
			text-align: center;
			&:first-child {
				margin: 0 0 35px 0 ;
			}
			&::before {
				top: 0;
				left: 50%;
				margin: -35px 0 0 -10px;
				transform: rotate(90deg);
			}
		}
	}
}

.recommend {
	margin: 0px 0 0 0;
	padding: 0 5% 50px 5%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	.no-content {
		text-align: center;
		color: #999;
	}
	ul {
		margin: 0;
		li {
			margin: 0 0 100px 0;
			.imgbox {
				float: left;
				display: block;
				width: 190px; 
				height: 233px;
				margin: 0 35px 0 0;
				background: #eee;
				img {
					max-width: 100%;
				}
			}
			.txtbox {
				float: left;
				display: block;
				width: calc(100% - 225px);
				&::before {
					content: '';
					display: block;
					width: 70px;
					height: 4px;
					margin: 30px 0 0 0;
					background: #FFB2B2;
				}
				p {
					line-height: 1.875rem;
					color: #707070;
				}
				span {
					display: block;
					margin: 10px 0 0 0;
					font-size: 1rem;
					line-height: 2.25rem;
					color: #777;
				}
				.name {
					font-size: 24px;
					line-height: 2.25rem;
					color: #333;   
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.recommend  {
		margin: 0 0 100px 0;
		ul {
			li {
				margin: 0;
				padding: 50px 0;
				border-bottom: 1px dotted #ccc;
				&:first-child {
					padding: 0 0 50px 0;
				}
				&:last-child {
					padding: 50px 0 0 0;
					border-bottom: 0;
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.recommend  {
		margin: 0;
		ul {
			margin: 20px 0 0 0;
			li {
				.imgbox {
					float: none;
					margin: 0 auto;
					background: #eee;
					img {
						max-width: 100%;
					}
				}
				.txtbox {
					float: none;
					width: 100%;
					&::before {
						content: '';
						display: block;
						width: 190px;
						height: 4px;
						margin: 0 auto;
						background: #FFB2B2;
					}
					p {
						line-height: 1.875rem;
						color: #707070;
					}
					span {
						text-align: center;
					}
					.name {
						text-align: center;
					}
				}
			}
		}
	}
}

.share {
	margin: 50px 0 0 0;
	padding: 0 5% 50px 5%;
	h3 {
		margin: 0 0 50px 0;
		text-align: center;
		line-height: 2rem;
	}
	.info {
		display: block;
		overflow: hidden;
		.content {
			float: left;
			width: 70%;
			.main {
				position: relative;
				padding: 50px 0;
				border-bottom: 1px solid #ddd;
				border-top: 1px solid #fff;
				h4 {
					margin: 0 0 20px 0;
					font-weight: bold;
				}
				p {
					line-height: 2rem;
					&.pimg {
						text-align: center;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&.origin {
						padding: 5px;
						border-radius: 3px;
						font-size: 0.8rem;
						background: #f4f4f4;
					}
					a {
						color: #999;
					}
				}
				img {
					max-width: 100%;
				}
				&:first-child {
					padding: 0 0 50px 0;
					border-top: 0;
				}
				&:last-child {
					border-bottom: 0;
				}
				.js-anchor-link {
					position: absolute;
					bottom: 10px;
					right: 0;
					display: block;
					padding: 2px 5px;
					font-size: 0.6rem;
					font-weight: normal;
					letter-spacing: 1px;
					color: #999;
					border-radius: 3px;
				}
			}
		}
		.sidebar {
			float: right;
			width: 25%;
			margin: 0 0 0 5%;
			li {
				padding: 10px;
				border-bottom: 1px dotted #ccc;
				&:last-child {
					border-bottom: 0;
				}
				a {
					color: #FF5E5E;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.share {
		.info {
			display: block;
			.content {
				width: 100%;
			}
			.sidebar {
				width: 100%;
				margin: 0;
			}
		}
	}
}